<?xml version="1.0"?>

<launch>
  <arg name="ns" default="l3/terrain_model" />
  <arg name="pcd_file" default="$(dirname)/../pcd/ramp.pcd" />

  <include file="$(dirname)/terrain_model_generator.launch" pass_all_args="True" />

  <!-- load the pcd -->
  <group ns="$(arg ns)">
    <node name="l3_point_cloud_portioner" pkg="l3_terrain_model_generator" type="point_cloud_portioner_node" output="screen">
      <rosparam file="$(dirname)/../config/point_cloud_portioner.yaml" command="load" />
      <param name="pcd_file" value="$(arg pcd_file)" />
    </node>
  </group>

  <node name="world_map_tf_static_publisher" type="static_transform_publisher" pkg="tf" args="0 0 0 0 0 0 1 world map 100" />
  <node name="map_odom_tf_static_publisher" type="static_transform_publisher" pkg="tf" args="0 0 0 0 0 0 1 map odom 100" />
  <node name="odom_lidar_tf_static_publisher" type="static_transform_publisher" pkg="tf" args="0 0 0 0 0 0 1 odom lidar 100" />
</launch>
