<?xml version="1.0"?>

<launch>
  <arg name="ns" default="l3/terrain_model" />
  <arg name="plugin_set" default="example" />
  <arg name="args" default="" />

  <group ns="$(arg ns)">
    <!-- load plugin sets from YAML file to parameter server -->
    <rosparam file="$(find l3_terrain_model_generator)/config/example_plugin_sets.yaml" command="load" />

    <!-- start terrain model generator node -->
    <node name="l3_terrain_model_generator" pkg="l3_terrain_model_generator" type="terrain_model_generator_node" args="$(arg args)" respawn="true" output="screen">
      <param name="plugin_set" value="$(arg plugin_set)" />
    </node>
    
    <!-- launch grid_map vis node -->
    <node name="l3_terrain_model_grid_map_vis" pkg="grid_map_visualization" type="grid_map_visualization" output="screen">
      <rosparam file="$(find l3_terrain_model_generator)/config/grid_map_vis.yaml" command="load" />
    </node>
  </group>
</launch>
