<?xml version="1.0"?>

<launch>
  <arg name="ns" default="l3/terrain_model" />
  <arg name="bag_file" default="$(find l3_terrain_model_generator)/bags/rubble_close_4.bag" />

  <include file="$(dirname)/terrain_model_generator.launch" pass_all_args="True" />

  <group ns="$(arg ns)">
    <node name="rosbag_player" pkg="rosbag" type="play" output="screen" args="--loop $(arg bag_file)">
      <remap from="/johnny5/scan_cloud_filtered" to="/l3/terrain_model/point_cloud_update" />
    </node>
  </group>

  <node type="static_transform_publisher" pkg="tf" name="world_map_tf_static_publisher" args="0 0 0 0 0 0 1 world map 100" />
  <node type="static_transform_publisher" pkg="tf" name="map_odom_tf_static_publisher" args="0 0 0 0 0 0 1 map odom 100" />
</launch>
